{% extends 'base.html' %}

{% block title %}UNES - Home{% endblock %}

{% block imagemfundo %} 
    class="homepage"
{% endblock %}

{% block content %} 
    <main>
        <figure class="capa">
            <img src="../static/img/capa.png" alt="capa">
        </figure>
        

        <div class="card" style="width: 18rem;">
            <img src="../static/img/spike/highlight-spike.png" class="card-img-top" alt="image-Spike">
            <div class="card-body">
              <h5 class="card-title">Spike</h5>
              <p class="card-text">Olá, eu sou o Spike! Gosto muito de comer ração Golden, mas no café da manhã adoro um pãozinho.</p>
              <a href="{{url_for('spike')}}" class="btn btn-primary">Tenho Interesse</a>
            </div>
          </div>

        

        <article>
            <h1>Sobre a universidade</h1>
            <p>Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipisicing elit. Suspendisse sit amet mollis nisl. Aliquam sit amet diam ac quam dignissim lobortis
                vel ac sapien. Proin placerat cursus risus. Duis blandit varius hendrerit. Vivamus sed placerat turpis, vel viverra neque. Duis at tempor
                magna, sit amet gravida purus. Nulla facilisi. Vivamus accumsan risus blandit venenatis. Sed sed nisl tempor, tincidunt elit sit
                amet, facilisis neque. Donec rutrum mauris odio, gravida vestibulum nulla cursus vitae. Cras vestibulum lectus sed augue viverra ultrices ac
                nec lectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In vestibulum cursus elit, vitae placerat lectus laoreet a.
            </p>
            <p>Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipisicing elit. Suspendisse sit amet mollis nisl. Aliquam sit amet diam ac quam dignissim lobortis
                vel ac sapien. Proin placerat cursus risus. Duis blandit varius hendrerit. Vivamus sed placerat turpis, vel viverra neque. Duis at tempor
                magna, sit amet gravida purus. Nulla facilisi. Vivamus accumsan risus blandit venenatis. Sed sed nisl tempor, tincidunt elit sit
                amet, facilisis neque. Donec rutrum mauris odio, gravida vestibulum nulla cursus vitae. Cras vestibulum lectus sed augue viverra ultrices ac
                nec lectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In vestibulum cursus elit, vitae placerat lectus laoreet a.
            </p>
        </article>

    </main>
{% endblock %}

