{% extends 'base.html' %}

{% block title %}UNES - Quem Somos{% endblock %}

{% block imagemfundo %} 
    class="anotherpage"
{% endblock %}

{% block content %} 
    <main>       
        <article>
            <h1>Quem somos</h1>
            <p>Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipisicing elit. Suspendisse sit amet mollis nisl. Aliquam sit amet diam ac quam dignissim lobortis
                vel ac sapien. Proin placerat cursus risus. Duis blandit varius hendrerit. Vivamus sed placerat turpis, vel viverra neque. Duis at tempor
                magna, sit amet gravida purus. Nulla facilisi. Vivamus accumsan risus blandit venenatis. Sed sed nisl tempor, tincidunt elit sit
                amet, facilisis neque. Donec rutrum mauris odio, gravida vestibulum nulla cursus vitae. Cras vestibulum lectus sed augue viverra ultrices ac
                nec lectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In vestibulum cursus elit, vitae placerat lectus laoreet a.
            </p>
        </article>
        <article>
            <h1>5 motivos para estudar</h1>
            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>
            <hr>
        </article>
        <article>
            <h1>Objetivos</h1>
            <p>Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipisicing elit. Suspendisse sit amet mollis nisl. Aliquam sit amet diam ac quam dignissim lobortis
                vel ac sapien. Proin placerat cursus risus. Duis blandit varius hendrerit. Vivamus sed placerat turpis, vel viverra neque. Duis at tempor
                magna, sit amet gravida purus. Nulla facilisi. Vivamus accumsan risus blandit venenatis. Sed sed nisl tempor, tincidunt elit sit
                amet, facilisis neque. Donec rutrum mauris odio, gravida vestibulum nulla cursus vitae. Cras vestibulum lectus sed augue viverra ultrices ac
                nec lectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In vestibulum cursus elit, vitae placerat lectus laoreet a.
            </p>
        </article>
    </main>
{% endblock %}
